<h1>Dashboard</h1>

<h2>Order Items</h2>
<%= link_to 'View Order Items', order_items_path %>

<h2>Orders</h2>
<%= link_to 'View Orders', orders_path %>

<h2>Shipments</h2>
<%= link_to 'View Shipments', shipments_path %>

<h2>Products</h2>
<%= link_to 'View Products', products_path %>

<h2>Report </h2>
<%= link_to 'View Report', reports_path %>