<p style="color: green"><%= notice %></p>

<h1>Products</h1>
<%= form_tag(products_path, method: "get") do %>
  <%= text_field_tag(:search, params[:search], placeholder: "Поиск по названию") %>
  <%= submit_tag("Поиск") %>
<% end %>
<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
<%= link_to 'На головну', root_path, class: 'btn btn-primary' %>
